<ion-popover-view style="width:90%;height: 120px" ng-init="init()" ng-controller="settingsCtrl">
  <ion-content scroll="false">
    <div class="list">
      <div class="item range range-positive">
        <i>Size</i>
        <input type="range" name="volume" min="16" max="40" value="18" step="2" ng-model="settings.fontSize">
        <i>{{ settings.fontSize }}pt</i>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-light">
    <div class="buttons">
    </div>
    <div class="title"></div>
    <div class="buttons">
      <button class="button button-clear button-positive" on-tap="default()">Default
      </button>
    </div>
  </ion-footer-bar>
</ion-popover-view>
